body{background-color: #232323;}

.container{
    width: 100%;
    height: 100%;
    margin: 0 auto; 
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 10px;
    background-color: #770000;
}


#clock{
    width: 50%;
    height: 100%;
    margin: 0 auto; 
    padding: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 10px;
    background-color: #888484;
    margin-bottom: 20px;
    font-size: large;
    font-weight: 800;
    
}